.cabecalho, .grade-3x2 button
{
	background-color:#4bae4f;
}
.menu-esquerda, .blog
{
	margin: 20px 0px 0px -60px;
}
.menu-esquerda-titulo, .seta-slide-e, .seta-slide-d, .produto-preco-atual, .rodape-cols a
{
	color:#4bae4f;
}
.cabecalho-icone, .cabecalho-frase2, .grade-3x2-icon, .rodape-cols a:hover
{
	color:#ccdb38;
}
.cabecalho
{
	width:1366px;
	height:100px;
	margin-top:0px;
	margin-left:-128px;
}
.cabecalho-frase1, .cabecalho-menu-sup, .nome-site, .botao-pesquisa, .botao-carrinho, .grade-3x2 button
{
	color:#fff;
}
.menu-principal a, .menu-esquerda-subtitulos, .menu-sub a, .produto-preco-ant, .rodape-texto
{
	color:#99a4b8;
}
.cabecalho-icone
{
	padding:7px 0px 0px 30px;
}
.cabecalho-menu-sup
{
	display: inline-block;
}
.nome-site
{
	padding:0px 0px 0px 30px;
	font-size:32px;
}
.textbox
{
	width:450px;
}
.botao-pesquisa
{
	background-color:#ccdb38;
	width:80px;
}
.botao-carrinho
{
	background-color:#8ac249;
	width:180px;
}
.menu-principal
{
	margin-left:-128px;
}
.menu-principal b:hover,
.menu-sub b:hover
{
	color:#374062;
	border-bottom: 3px solid #ccdb38;
}
.menu-principal li,
.menu-sub li
{
	padding: 0px 0px 0px 60px;
}
.menu-principal li
{
	margin-top:-15px;
}
.menu-esquerda
{
	height:360px;
	padding-top:10px;
}
.menu-esquerda-titulo,
.produto-nome
{
	font-size:18px;
}
.menu-esquerda-subtitulos
{
	padding:1px;
}
.slide
{
	margin-top:20px;
}
.slide img
{
	width:960px;
}
.seta-slide-e,
.seta-slide-d
{
	position:relative;
	top:-209px;
}
.seta-slide-e
{
	left:20px;
}
.seta-slide-d
{
	left:910px;
}
.blog
{
	height:450px;
	padding-top:10px;
}
.blog-data
{
	color:#8ac249;
}
.grade-3x2 td
{
	padding:25px;
}
.grade-3x2-icon{
	padding-left:90px;
}
.grade-3x2 button
{
	height:50px;
	width:270px;
}
.menu-sub
{
	 margin-left:50px;
}
.grade-3x1
{
	padding:25px;
}
.produto-preco-atual
{
	font-size:24px;	
}
.produto-preco-ant
{
	font-size:16px;
}
.rodape-cols
{
	margin-top:80px;
}
.rodape-cols li
{
	padding: 10px;
	list-style-type: none;	
}